[submodule "QuantLib"]
	path = QuantLib
	url = https://github.com/Model-Validation/QuantLib
	branch = master
	ignore = dirty
[submodule "ORE-SWIG/QuantLib-SWIG"]
	path = ORE-SWIG/QuantLib-SWIG
	url = https://github.com/Model-Validation/QuantLib-SWIG
